In [8]:
import pandas as pd

# Define Data list for testing
Cond1_ID=["Jack Sparrow","Elezabeth Swann","Will Turner","James Norrington",
"Tia Dalma","Joshamee Gibbs","Cutler Beckett","Regetti",
"Jimmy Legs","Clubba","D-Boy","Heinrich Von","Aki","Milly","Honda","Levin","Colbert",
"Tekkaman Omega"]
Cond2_ID=["Davy Jones","Hector Barbossa",
"Anamaria","James Norrington","Tia Dalma","Joshamee Gibbs","Cutler Beckett","Regetti",
"Jimmy Legs","Clubba","D-Boy","Heinrich Von","Aki","Milly","Honda","Levin",
"Shingya","Dagger"]
HPcon_ID=["Regetti","Jimmy Legs","Clubba","D-Boy","Heinrich Von","Aki","Milly","Honda",
"Shingya","Dagger","Axe","Miuki","Sword","Lance","Riruru"]

In [10]:
df

                  ID  Cond1_2  Cond1  Cond2  Cond3
0       Jack Sparrow        0      1      0      0
1    Elezabeth Swann        0      1      0      0
2        Will Turner        0      1      0      0
3   James Norrington        1      1      1      0
4          Tia Dalma        1      1      1      0
5     Joshamee Gibbs        1      1      1      0
6     Cutler Beckett        1      1      1      0
7            Regetti        1      1      1      1
8         Jimmy Legs        1      1      1      1
9             Clubba        1      1      1      1
10             D-Boy        1      1      1      1
11      Heinrich Von        1      1      1      1
12               Aki        1      1      1      1
13             Milly        1      1      1      1
14             Honda        1      1      1      1
15             Levin        1      1      1      0
16           Colbert        0      1      0      0
17    Tekkaman Omega        0      1      0      0
18        Davy Jones        0      0      1      0
19   Hector Barbossa        0      0      1      0
20          Anamaria        0      0      1      0
21           Shingya        0      0      1      1
22            Dagger        0      0      1      1
23               Axe        0      0      0      1
24             Miuki        0      0      0      1
25             Sword        0      0      0      1
26             Lance        0      0      0      1
27            Riruru        0      0      0      1

In [9]:
def GetDFfromList(cond1,cond2,cond3):
    allID=[]
    for c in [cond1,cond2,cond3]:
        for id in c:
            if id not in allID:
                allID.append(id)
    df_ls=[]
    for id in allID:
        cond=[]
        # id in Cond1 and Cond2: Cond1_2
        if id in cond1 and id in cond2:
            cond.append(1)
        else:
            cond.append(0)
        # id in Cond1: Cond1
        if id in cond1:
            cond.append(1)
        else:
            cond.append(0)
        # id in Cond2: Cond2
        if id in cond2:
            cond.append(1)
        else:
            cond.append(0)
        # id in Cond3: Cond3
        if id in cond3:
            cond.append(1)
        else:
            cond.append(0)
        df_ls.append(cond)
    out=pd.DataFrame(df_ls)
    out.columns=["Cond1_2","Cond1","Cond2","Cond3"]
    out["ID"]=allID
    colOrder=["ID","Cond1_2","Cond1","Cond2","Cond3"]
    out=out[colOrder]
    return out
    # idc=[]
    # cond1_2=[]
    # cond1_only=[]
    # cond2_only=[]
    # cond3_only=[]
    # for id in allID:
    #     idc.append(id)
    #     if id in cond1 and id in cond2 and id not in cond3:
    #         cond1_2.append(1)
    #         cond1_only.append(1)
    #         cond2_only.append(1)
    #         cond3_only.append(0)
    #     elif id in cond1 and id not in cond2 and id not in cond3:
    #         cond1_2.append(0)
    #         cond1_only.append(1)
    #         cond2_only.append(0)
    #         cond3_only.append(0)
    #     elif id in cond2 and id not in cond1 and id not in cond3:
    #         cond1_2.append(0)
    #         cond1_only.append(0)
    #         cond2_only.append(1)
    #         cond3_only.append(0)
    #     elif id in cond1 and id in cond2:
    #         cond1_2.append(1)
    #         cond1_only.append(0)
    #         cond2_only.append(0)
    #         cond3_only.append(0)
    # out=pd.DataFrame({"ID":idc,"Cond12":cond1_2,"Cond1Only":cond1_only,"Cond2Only":cond2_only,"Cond3Only":cond3_only})
    # return out
df = GetDFfromList(Cond1_ID,Cond2_ID,HPcon_ID)